

<form action="/payment/results">

<label for="banana">APR</label>

<input id="banana" type="text" placehoder="E.g. 5.42" name="user_apr">

<label for="apple">Number of years</label>

<input id="apple" type="text" placehoder="How many year to repay?" name="user_years">

<label for="nike">Principal</label>

<input id="nike" type="text" placehoder="How much principal" name="user_pv">

<button>Calculate monthly payment</button>

</form>