<h1> Payment Results</h1>

<dl>

<dt> APR </dt>
<dd> <%= @annual_rate %></dd>

<dt> Number of years</dt>
<dd> <%= @period_year %> </dd>

<dt> Principal </dt>
<dd> <%= @princial_amount %></dd>

<dt> Payment </dt>
<dd> <%= @result %></dd>

</dl>

<a href="/payment/new"> Calculate another payment