
<form action="/random/results">

<label for="banana">Minimum</label>

<input id="banana" type="text" placeholder="E.g. 1.5" name="user_min">

<label for="apple">Maximum</label>

<input id="apple" type="text" placeholder="E.g. 1.5" name="user_max">

<button>Pick random number </button>

</form>

