
<form action="/square/results">

<label for="girffe">Enter a number</label>

<input id="girffe" type="text" placehoder="What number do you want to sqaure?" name="elephant">

<button>Calculate square </button>

</form>

<a href="https://www.wikipedia.org"> Go to Wikipedia