

<form action="/square_root/results">

<label for="girffe">Enter a number</label>

<input id="girffe" type="text" placehoder="What number do you want to sqaure root?" name="elephant">

<button>Calculate square root </button>

</form>